
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generatory</title>
    <style>
        body{
        background-color: #f8f8ff;
        }
        .generator {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
    </style>
</head>
<body>
    <div class="content">
        {% block content %}
        {% for client in clients %}
            <div class='generator'>
                <h3>agregator: {{ client['address'] }}</h3>
                <p>Adres docelowy: {{ client['destination'] }}</p>
                <p>Protokół: {{ client['protocol'] }}</p>
                <p>Interwał: {{ client['interval'] }}</p>
                <p>Dziala: {{ client['running'] }}</p>
                <a href="{{
                url_for('flask_z5.aggregators_list', ip=client['address'])
                }}">Zarządzaj generatorem</a>
            </div>
        {% endfor %}
        {% endblock %}
    </div>
</body>
</html>
