
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generatory</title>
    <style>
        body{
        background-color: #f8f8ff;
        }
        .generator {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
    </style>
</head>
<body>
    <div class="content">
        {% block content %}
        {% for client in clients %}
            <div class='generator'>
                <h3>Generator: {{ client['name'] }}</h3>
                <p>Adres: {{ client['url'] }}</p>
                <p>Protokół: {{ client['protocol'] }}</p>
                <p>Źródło danych: {{ client['data_source'] }}</p>
                <p>Interwał: {{ client['interval'] }}</p>
                <p>Status: {{ client['status'] }}</p>
                <p>Adres: {{ client['address'] }}</p>
                <a href="{{
                url_for('flask_z5.generators', id=client['uuid'])
                }}">Zarządzaj generatorem</a>
            </div>
        {% endfor %}
        {% endblock %}
    </div>
</body>
</html>
